<div class="project-container screen" id="<%= id %>">
  <div class="screen-anchor" id="screen-<%= screen_id %>"></div>

  <%= partial "partials/navigation_top",
    locals: {
      destination_id: navigation_previous_id,
      style: navigation_style
    }
  %>

  <div class="project">

    <a href="<%= project.links.first.src %>" target="_blank"
      title="<%= project.links.first.title %>"
      class="project__image-container
      image-container--<%= parameterize(project.title) %>">
      <div class="project__image-overlay"></div>
      <img class="project__image image--<%= parameterize(project.title) %>"
        src="<%= project.image.src %>"
        alt="<%= project.image.alt %>">
      <div class="project__image-corner"></div>
      <img class="project__icon icon icon-<%= project.icon.alt.downcase %>"
        src="<%= project.icon.src %>"
        alt="<%= project.icon.alt %>" title="<%= project.icon.title %>">
    </a>

    <div class="project__separator"></div>

    <div class="project__information">
      <h3 class="project__title"><%= project.title %></h3>
      <p class="project__description"><%= project.description %></p>

      <div class="project__tags">
        <p class="project__tags--text"><%= project.tags %></p>
      </div>

      <div class="project__links">
        <% project.links.each do |link| %>
          <%= link_to link.title, link.src, class: "project__link" %>
        <% end %>
      </div>
    </div>

  </div>

  <%= partial "partials/navigation_bottom",
    locals: {
      destination_id: navigation_next_id,
      style: navigation_style
    }
  %>

</div>
