<section class="projects" id="selected-projects">

  <header class="projects-header">
    <h1 class="projects-header__title projects-header__title--selected">
      SELECTED
    </h1>
    <h1 class="projects-header__title">
      PROJECTS
    </h1>
  </header>

  <%= partial "partials/projects/project",
    locals: {
      project: data.projects.prevy,
      id: "prevy"
    }
  %>

  <%= partial "partials/projects/project",
    locals: {
      project: data.projects.draw,
      id: "draw",
    }
  %>

  <%= partial "partials/projects/project",
    locals: {
      project: data.projects.ruby_chess,
      id: "ruby-chess"
    }
  %>

  <%= partial "partials/projects/project",
    locals: {
      project: data.projects.weather_compare,
      id: "weather-compare"
    }
  %>

  <%= partial "partials/projects/project",
    locals: {
      project: data.projects.rock_paper_scissors,
      id: "rock-paper-scissors"
    }
  %>

  <%= partial "partials/projects/project",
    locals: {
      project: data.projects.portfolio,
      id: "portfolio"
    }
  %>

  <footer class="projects-footer">
    <a class="projects-footer__link btn-outline btn--gigantic"
      href="https://github.com/lujanfernaud?tab=repositories"
       >
      See all my repos on GitHub
    </a>
  </footer>

</section>
