<section class="projects" id="selected-projects">

  <header class="projects-header screen inert" id="selected-projects-header">
    <%= partial "partials/navigation_top",
      locals: {
        destination_id: "about",
        style: "light"
      }
    %>

    <div class="projects-header__title-container">
      <h1 class="projects-header__title projects-header__title--first
        projects-header__title--selected">
        SELECTED
      </h1>
      <h1 class="projects-header__title projects-header__title--second">
        PROJECTS
      </h1>
    </div>

    <%= partial "partials/navigation_bottom",
      locals: {
        destination_id: "prevy",
        style: "light"
      }
    %>
  </header>

  <%= partial "partials/projects/project",
    locals: {
      project: data.projects.prevy,
      id: "prevy",
      navigation_previous_id: "selected-projects",
      navigation_next_id: "draw",
      navigation_style: "dark"
    }
  %>

  <%= partial "partials/projects/project",
    locals: {
      project: data.projects.draw,
      id: "draw",
      navigation_previous_id: "prevy",
      navigation_next_id: "ruby-chess",
      navigation_style: "dark"
    }
  %>

  <%= partial "partials/projects/project",
    locals: {
      project: data.projects.ruby_chess,
      id: "ruby-chess",
      navigation_previous_id: "draw",
      navigation_next_id: "weather-compare",
      navigation_style: "dark"
    }
  %>

  <%= partial "partials/projects/project",
    locals: {
      project: data.projects.weather_compare,
      id: "weather-compare",
      navigation_previous_id: "ruby-chess",
      navigation_next_id: "rock-paper-scissors",
      navigation_style: "dark"
    }
  %>

  <%= partial "partials/projects/project",
    locals: {
      project: data.projects.rock_paper_scissors,
      id: "rock-paper-scissors",
      navigation_previous_id: "weather-compare",
      navigation_next_id: "portfolio",
      navigation_style: "dark"
    }
  %>

  <%= partial "partials/projects/project",
    locals: {
      project: data.projects.portfolio,
      id: "portfolio",
      navigation_previous_id: "rock-paper-scissors",
      navigation_next_id: "see-all-repos",
      navigation_style: "dark"
    }
  %>

  <footer class="projects-footer screen inert" id="see-all-repos">
    <%= partial "partials/navigation_top",
      locals: {
        destination_id: "portfolio",
        style: "light"
      }
    %>

    <a class="projects-footer__link btn-outline btn--gigantic"
      href="https://github.com/lujanfernaud?tab=repositories"
      target="_blank">
      See all my repos on GitHub
    </a>

    <%= partial "partials/navigation_bottom",
      locals: {
        destination_id: "back-cover",
        style: "light"
      }
    %>
  </footer>

</section>
